* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* some main items config */
img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

i {

}

/* Now is the styling */
.container {
    display: flex;
}

.container > * {
    /* border: 1px solid red; */
}

/* section 1 */
.sidebar {
    width: 72px; /* change the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: #071D35;
}

.sidebar ul a {
    margin: 10px;
}

.sidebar ul a li {
    list-style: none;
    padding: 20px;
    border-radius: 14px;
}

.sidebar ul a li i {
    color: #637081;
    font-size: 25px;
}

.sidebar ul a:hover li {
    background-color: #6687FB;
    cursor: pointer;

}

.sidebar ul a:hover li i {
    color: #fff;
}

.sidebar .settings_section .settings {
    padding: 10px;
    text-align: center;
}

.sidebar .settings_section .settings i {
    color: #637081;
}
.sidebar .settings_section .settings:hover {
    background-color: #6687FB;
    cursor: pointer;
    border-radius: 14px;
}

.sidebar .settings_section .settings:hover i {
    color: #fff;
}


/* tool tips */

li.tooltip, div.tooltip, a.tooltip, .settings_section div.tooltip {
    outline:none; 
    position: relative;
}

.user_action_icons { /* kinda the same with div.tooltip so no need to repeat */
    padding-right: 2em;
}

li.tooltip:hover, div.tooltip:hover, a.tooltip:hover, .settings_section div.tooltip:hover {
    text-decoration:none; 
    cursor: help;
}

li.tooltip span, div.tooltip span, a.tooltip span, .settings_section div.tooltip span {
    z-index:10;
    display:none; 
    padding:8px 20px;
    /* width:220px; */
    line-height:17px;
    pointer-events: none;
    white-space: nowrap; /* the words are so long it wont break line */
}

li.tooltip:hover span, a.tooltip:hover span, .settings_section div.tooltip:hover span {
    display:block;
    position:absolute;
    bottom: 10px;
    left: 4em;
    color:#373535;
    border:2px solid #D3D3D3;
    background:#ffffff;
}


a.tooltip:hover span, .settings_section div.tooltip:hover span {
    left: 3.7em;
}

div.tooltip:hover span {
    display:block;
    position:absolute;
    bottom: -2em;
    left: -4em;
    color:#373535;
    border:2px solid #D3D3D3;
    background:#ffffff;
}

.user_action_icons.tooltip:hover span {
    display:block;
    position:absolute;
    bottom: -1em;
    color:#373535;
    border:2px solid #D3D3D3;
    background:#ffffff;
}

li.tooltip span, div.tooltip span, a.tooltip span, .settings_section div.tooltip span {
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    -moz-box-shadow: 1px 1px 8px #CCC;
    -webkit-box-shadow: 1px 1px 8px #CCC;
    box-shadow: 1px 1px 8px #CCC;
}

/* user box */
.click_box {
    border: none;
    position: absolute;
    left: 72px;
    bottom: 10px;
    box-shadow: 5px 10px;
}

.click_box ul {
    background-color: aliceblue;
    padding: 5px 10px 5px 10px;
    width: 200px;
}

.click_box ul li {
    display: block;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

/* section 2 */
.users {
    width: 340px;  /* change the width */
    height: calc(100vh - 50px);
    background-color: #FBFBFB;
    padding: 25px 30px;
}

.users h1 {
    font-size: 36px;
    color: #081C35;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.preview_messages a{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e6e6e6;
}

.user_contact div {
    display: flex;
}

.user_contact div img {
    height: 40px;
    width: 40px;
}

.user_contact .details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    color: #373535;
}

.details span {
    font-size: 18px;
    font-weight: 500;
}

/* section 3 */


/* contact section all_users */
.all_users {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    overflow: scroll;
}

.all_users .clickable_zone {
    padding: 10px;
    border-bottom: 1px solid #373535;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.all_users div .clickable_zone {
   display: flex;
}

.main_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .user_box a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

header .username {
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
}

header button {
    background-color: #6687FB;
    border: none;
    outline: none;
    color: #fff;
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

.main_content div {
    display: flex;
    flex-direction: row;
    
}
/* 3 */
.chatbox {
    flex: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* display: grid;
    grid-template-rows: 50px 1fr; */
    display: grid;
    grid-template-rows: 50px 1fr;
}

.chatbox div{
    display: block;
}

.chatbox .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}

.chatbox .header .user_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user_box a {
    display: flex;
}

.chatbox .chatbox_body {
    /* display: flex;
    flex-direction: column; */
}

.msg_holder {
    background-color: #EDF0F9;
    padding: 10px 30px 20px 30px;
}

.chatbox .chatbox_body .msg_content {
    /* background-color: #CCC; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* height: 80%; */
}

#message_left {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}

#message_left img{
    width: 35px;
    height: 35px;
}

#message_left p{
    background-color: #fff;
    border-radius: 18px 18px 18px 0;
    padding: 8px 16px;
}

#message_right {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

#message_right div span {
    display: block;
}

#message_right p {
    background-color: #6685FF;
    color: #fff;
    border-radius: 18px 18px 0 18px;
    padding: 8px 16px;
}

#message_left img, #message_right img{
    border: solid thick #ffffff;
}

#message_right {
    display: flex;
    justify-content: flex-end;
}


#list_of_users {
    display: block;
}

.settings_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.settings {
    width: 48px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

.settings i {
    font-size: 40px;
}

.user_msg {
    padding: 20px;
}

.viewer_on {
    position: absolute;
    height: 400px;
    width: 400px;
    
    margin: auto;
    z-index: 12;
    left: 600px;
    top: 200px;
}

.viewer_off {
    display: none;
}