* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* some main items config */
img {
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

i {

}

/* Now is the styling */
.container {
    display: flex;
}

.container > * {
    /* border: 1px solid red; */
}

/* section 1 */
.sidebar {
    width: 72px; /* change the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: antiquewhite;
}

.sidebar ul a {
    margin: 10px;
}

.sidebar ul a li {
    list-style: none;
    padding: 20px;   
    background-color: lightblue;
}

.sidebar ul a:hover li {
    background-color: rgb(107, 138, 148);
    cursor: pointer;
}

/* tool tips */

li.tooltip, div.tooltip, a.tooltip, .settings_section div.tooltip {
    outline:none; 
    position: relative;
}

.user_action_icons { /* kinda the same as div.tooltip so no need to repeat */
    padding-right: 2em;
}

li.tooltip:hover, div.tooltip:hover, a.tooltip:hover, .settings_section div.tooltip:hover {
    text-decoration:none; 
    cursor: help;
}

li.tooltip span, div.tooltip span, a.tooltip span, .settings_section div.tooltip span {
    z-index:10;
    display:none; 
    padding:8px 20px;
    /* width:220px; */
    line-height:17px;
    pointer-events: none;
    white-space: nowrap; /* the words are so long it wont break line */
}

li.tooltip:hover span, a.tooltip:hover span, .settings_section div.tooltip:hover span {
    display:block;
    position:absolute;
    bottom: 10px;
    left: 4em;
    color:#373535;
    border:2px solid #D3D3D3;
    background:#ffffff;
}

a.tooltip:hover span, .settings_section div.tooltip:hover span {
    left: 3.7em;
}

div.tooltip:hover span {
    display:block;
    position:absolute;
    bottom: -2em;
    left: -4em;
    color:#373535;
    border:2px solid #D3D3D3;
    background:#ffffff;
}

.user_action_icons.tooltip:hover span {
    display:block;
    position:absolute;
    bottom: -1em;
    color:#373535;
    border:2px solid #D3D3D3;
    background:#ffffff;
}

li.tooltip span, div.tooltip span, a.tooltip span, .settings_section div.tooltip span {
    border-radius:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    -moz-box-shadow: 1px 1px 8px #CCC;
    -webkit-box-shadow: 1px 1px 8px #CCC;
    box-shadow: 1px 1px 8px #CCC;
}

/* user box */
.click_box {
    border: none;
    position: absolute;
    left: 72px;
    bottom: 10px;
    box-shadow: 5px 10px;
}

.click_box ul {
    background-color: aliceblue;
    padding: 5px 10px 5px 10px;
    width: 200px;
}

.click_box ul li {
    display: block;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

/* section 2 */
.users {
    width: 340px;  /* change the width */
    height: calc(100vh - 50px);
    background-color: pink;
}

.preview_messages a{
    display: flex;
}

.header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.header .input-box {
    flex: 1;
    display: flex;
    background-color: lightgray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
}

.header input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 4px 12px 4px 2px;
}

.header i {
    padding: 5px 5px 5px 10px;
}

/* section 3 */


/* contact section all_users */
.all_users {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.all_users a {
    padding: 10px;
    border-bottom: 1px solid #373535;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.main_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_content div {
    display: flex;
    flex-direction: row;
    
}

.preview_messages a div, .user_box div{
    display: block;
}


.chatbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.user_box {
    display: flex;
}

.chatbox .chatbox_body {
    display: flex;
    flex-direction: column;
}

.chatbox .chatbox_body .msg_content {
    background-color: #CCC;
}

.chatbox .chatbox_body .user_msg {
    background-color: cadetblue;
    padding: 10px;
}

#list_of_users {
    display: block;
}

.settings_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings {
    width: 48px;
    margin: auto;
    text-align: center;
}

.settings i {
    font-size: 40px;
}
